### Exercise 3

 - Import stocks data (stocks.csv and company.csv)
 - Join these two tables by the field and union type(inner,left...) you consider more appropriate
 - Export in a csv the stock information of MSFT and ALK from 15 April 2021 to 31 December 2021, inlcuding Sector and Sub-industry information

In [3]:
import pandas as pd

stocks = pd.read_csv('data\stocks.csv', sep = ';')
company = pd.read_csv('data\company.csv', sep = ';')

In [4]:
stocks

            id        Date   Open   High    Low  Close   Volume ccode
0            0  2020-12-31  167.1  167.9  166.2  167.8  1841300   MMM
1            1  2021-01-04  168.0  169.1  163.7  165.0  2996200   MMM
2            2  2021-01-05  165.1  166.3  163.8  164.7  2295300   MMM
3            3  2021-01-06  165.8  168.5  165.2  167.2  3346400   MMM
4            4  2021-01-07  164.7  166.5  159.5  162.9  5863400   MMM
...        ...         ...    ...    ...    ...    ...      ...   ...
153446  154060  2022-03-15  186.4  189.7  185.6  189.1  1261600   ZTS
153447  154061  2022-03-16  190.7  193.7  187.5  191.9  2064000   ZTS
153448  154062  2022-03-17  192.5  194.7  192.1  193.7  2199700   ZTS
153449  154063  2022-03-18  196.7  197.2  193.4  195.9  2613700   ZTS
153450  154064  2022-03-21  195.2  196.7  192.5  194.7  1891000   ZTS

[153451 rows x 8 columns]

In [5]:
company

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740.0,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142.0,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800.0,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152.0,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094.0,1981
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061.0,1997
501,ZBRA,Zebra,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212.0,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869.0,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380.0,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280.0,1952